<router-outlet>
  <!-- <app-home-page></app-home-page> -->
</router-outlet>
<div>
  <ul>
    <li class="fa fa-user class1" style=" color: #3475a7;"></li>
    <li class="fa fa-credit-card class2" style=" color: #3475a7;"></li>
    <li class="class3">
      <img src="https://www.upcl.org/wss/wss_updated_statics/img/receipt1.png" style="height: 30px; color: #3475a7;">
    </li>
    <li class="fa fa-pencil-square-o class4" style="color: #3475a7;">
      <!-- <img src="https://www.upcl.org/wss/wss_updated_statics/img/receipt1.png" style="height: 30px; color: #3475a7;"> -->
    </li>
    <li class="class5">
      <img src="	https://www.upcl.org/wss/wss_updated_statics/img/lang1.png" style="height: 30px; color: #3475a7;">
    </li>
    </ul>
  </div>